html {
    background-image: url("https://drive.google.com/uc?id=1CUhh_KUK22SIrenFvgQaNi11McfFug_L");
}

h3 {
    text-align: center;
}

p {
    padding-left: 8%;
    font-family: Georgia;
    font-size: 18px;
}

video {
    margin-left: 25%;
    width: 45%;
    border-radius: 5px;
}

.description {
   
    margin-left: 15%;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
}

.main ul {
    padding-left: 13%;
    font-family: Georgia;
    font-size: 18px;
    line-height: 150%;
}

.left {
    float:left;
    padding-left: 13%;
}

.right {
    float: right;
    padding-right: 13%;
}

.border {
    background-color: lightblue;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    opacity: 0.9;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
}

.subtitle {
    font-family: cursive;
    font-size: 225%;
}

.main-header {
    border-radius: 10px;
    background-color: lightblue;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.main-header h1 {
    color: darkblue;
    font-family: Tahoma;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dropdown {
    border-radius: 10px;
    background-color: #333333;
    width: 90%;
    margin-left: 5%;
}

.dropdown ul {
    list-style: none;
    overflow: hidden; 
}

.dropdown li {
    float: left;
}

.dropdown li a {
    display: block;
    color: white;
    font-family: fantasy;
    text-decoration: none;
    padding: 15px;
}

.dropdown li a:hover {
    background-color: black;
}

.main img {
    padding-top: 2%;
    width: 45%;
    height: auto;
    margin-left: 25%;
}

.complexity {
    display: flex;
}

.complexity img {
    margin-left: 1% !important;
    width: 7.5%;
    height: 1.5%;
}