html {
    background-image: url(../../images/tech-background-2.jpg);
}

h3 {
    text-align: center;
}

p {
    padding-left: 80px;
    font-family: Georgia;
    font-size: 18px;
}

video {
    margin-left: 25%;
    width: 45%;
}

.description {
    padding-top: -50px;
    margin-left: 15%;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
}

.main ul {
    padding-left: 110px;
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
}

.left {
    float:left;
    padding-left: 50px;
}

.right {
    float: right;
    padding-right: 50px;
}

.border {
    background-color: lightblue;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.subtitle {
    font-family: cursive;
    font-size: 30px;
}

.main-header {
    border-radius: 10px;
    background-color: lightblue;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.main-header h1 {
    color: darkblue;
    font-family: Tahoma;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dropdown {
    border-radius: 10px;
    background-color: #333333;
    width: 90%;
    margin-left: 5%;
}

.dropdown ul {
    list-style: none;
    overflow: hidden; 
}

.dropdown li {
    float: left;
}

.dropdown li a {
    display: block;
    color: white;
    font-family: fantasy;
    text-decoration: none;
    padding: 15px;
}

.dropdown li a:hover {
    background-color: black;
}

.main img {
    padding-top: 15px;
    width: 45%;
    height: auto;
    margin-left: 25%;
}