p {
    line-height: 175%; 
    text-align: justify;
    text-indent: 5%;
    font-size: 16px !important;
    padding-left: 5% !important;
}

h3 {
    font-family: Bookman;
    font-weight: bold;
    color: darkblue;
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 1%;
}


.sub {
    font-family: Georgia;
    font-weight: bold;
    color: darkblue;
    font-size: 20px;
    padding-left: 5%;
}

.overview {
    margin-left: 5%;
}

.overview div {
    float: left;
}

.overview img {
    float: right;
    padding-top: 2%;
    padding-right: 3%;
    height: auto;
}

.main p {
    padding-right: 5% !important;
}

.border {
    padding-top: 0% !important;
}

.hobbies img {
    width: 10%;
}

